* {
  box-sizing: border-box;
  padding: 0;
  margin: 0; }

.grid-index {
  display: grid;
  grid-template: "header" "nav" "main" "footer" / auto; }

h1 {
  margin-bottom: 0px !important; }

a {
  text-decoration: none; }

.navegador {
  width: -webkit-fill-available;
  top: 0;
  z-index: 9999;
  position: fixed;
  background-color: #d5a400 !important;
  border-bottom: 5px solid #bf7400; }

.navbar {
  --bs-navbar-padding-y: 0 !important;
  --bs-navbar-brand-font-size: 1.80rem; }

.dropdown-menu-dark {
  font-family: 'Jockey One', sans-serif;
  --bs-dropdown-bg: #bf7400; }

.navbar-brand {
  padding-top: 0px;
  padding-bottom: 0px;
  font-family: 'Alumni Sans Inline One', cursive; }

.navbar-expand-lg .navbar-nav .nav-link {
  font-family: 'Jockey One', sans-serif;
  color: #ffffff;
  text-shadow: 0px 3px 5px #7c1d00;
  background-image: linear-gradient(transparent 0%, transparent 90%, #ffd400 90%, #ffb161 100%);
  background-repeat: no-repeat;
  background-size: 0% 100%;
  background-position-x: right;
  transition: background-size 300ms; }

.navbar-expand-lg .navbar-nav .nav-link:hover {
  background-size: 100% 100%;
  background-position-x: left;
  color: #000000a4; }

.form-control {
  padding: 0.375rem 5.75rem !important; }

.btn-outline-success {
  --bs-btn-color: #000000;
  text-shadow: 0px 0px 5px #ffffff;
  --bs-btn-border-color: #00000042;
  --bs-btn-hover-bg: #113a00; }

.btn {
  background-color: #ff6500; }

.navbar-toggler {
  padding: 0px;
  color: #ab8300;
  border: solid 0px; }

.navbar-toggler-icon {
  background-image: url(../Iconos/menu.png);
  width: 2.5em;
  height: 2.5em; }

.navbar-light .navbar-toggler {
  background: linear-gradient(90deg, #5c5c5c 0%, #cdcdcd 50%, #535353 100%);
  border-radius: 0px;
  padding: 0px 13px; }

.boton {
  background-color: #ff4100;
  margin: 5px 15px 5px 0;
  padding-bottom: 3px;
  padding-top: 3px;
  --bs-btn-border-color: none;
  --bs-btn-border-radius: 3rem;
  text-shadow: 0px 0px 5px #ffffff; }

.compra {
  width: 25px;
  height: 25px; }

[type=button]:not(:disabled), [type=reset]:not(:disabled), [type=submit]:not(:disabled), button:not(:disabled) {
  cursor: pointer;
  font-family: 'Jockey One', sans-serif; }

.main {
  background-image: url(../imagenes/fondo-negro.jpg); }

.contenedor-icono svg {
  width: 100px;
  height: 100px; }

.listado li p {
  color: #ffffff;
  font-family: 'Stardos Stencil', cursive; }

.fondo_menu {
  background-image: url(../imagenes/burger.png);
  width: 100%;
  height: 100vh;
  display: flex;
  background-size: cover;
  background-position: center bottom;
  background-repeat: no-repeat;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: center;
  justify-content: center;
  margin-bottom: 15px; }

.fondo_texto {
  padding-bottom: 165px; }
  .fondo_texto h1 {
    font-family: 'Alumni Sans Inline One', cursive;
    font-size: 15rem;
    color: #cbcbcb;
    text-align: center;
    text-shadow: 0px 7px 0px  #bf7400; }
  .fondo_texto p {
    font-family: 'Alumni Sans Inline One', cursive;
    font-size: 3rem;
    color: #cbcbcb;
    text-align: center;
    text-shadow: 0px 3px 1px #000000; }

.nosotros {
  padding-top: 10px;
  padding-bottom: 10px; }

.bienvenidos {
  font-size: 2.80rem;
  font-family: 'Stardos Stencil', cursive;
  font-weight: 600;
  text-shadow: #ffffff 0px 0px 5px;
  color: #000000; }

.historia {
  font-size: 1.50rem;
  font-family: 'Stardos Stencil', cursive;
  text-shadow: 0px 0px 20px #060606;
  color: #e1e1e1; }

.w-100 {
  display: block;
  margin: 0 auto;
  border-radius: 10px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  border-top-right-radius: 30px;
  border-bottom-left-radius: 30px;
  transition: box-shadow 0.1s,  transform 0.1s;
  -webkit-filter: grayscale(0.8);
  filter: grayscale(0.8);
  -webkit-transition: all .4s ease;
  transition: all .4s ease; }

.w-100:hover {
  -webkit-filter: grayscale(0);
  filter: grayscale(0);
  z-index: 500; }

.title-burger {
  background: linear-gradient(90deg, #bf7400 0%, #d5a400 50%, #bf7400 100%); }

h4 {
  font-family: 'Jockey One', sans-serif;
  font-size: 2.10rem;
  margin-bottom: 0px;
  font-weight: 600;
  color: black;
  text-shadow: 0px 0px 10px #ffffff; }

.cardstas {
  display: grid;
  grid-column: 1/-1;
  grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
  background: #00000087;
  grid-gap: 2rem;
  padding: 2rem;
  perspective: 1000px; }

.framework-card {
  background: #fff;
  border-radius: 20px;
  padding: 1rem;
  text-align: center;
  padding-top: 3rem;
  position: relative;
  transform-origin: top center;
  --rotate: 10deg;
  transform: rotateX(var(--rotate));
  transition: transform 0.2s;
  box-shadow: 0 0 10px #00000033; }

.framework-card:before {
  right: auto;
  left: 20px; }

.framework-card:hover {
  transform: rotateX(-10deg); }

card:before,
.framework-card:after {
  content: '';
  display: block;
  width: 8px;
  height: 8px;
  background: #5c0dac;
  border: 1px solid #000;
  box-shadow: 0 0 3px #0000001a;
  top: 15px;
  right: 20px;
  position: absolute;
  border-radius: 50%; }

.framework-card:before,
.framework-card:after {
  content: '';
  display: block;
  width: 8px;
  height: 8px;
  background: #ac4f0d;
  border: 1px solid #000;
  box-shadow: 0 0 3px #0000001a;
  top: 15px;
  right: 20px;
  position: absolute;
  border-radius: 50%; }

.framework-card img {
  height: 80px;
  width: 100%;
  object-fit: contain; }

img {
  max-width: 100%; }

.framework-card p {
  color: #000000;
  font-family: 'Stardos Stencil', cursive;
  font-size: 18px;
  font-weight: 600;
  text-shadow: 0px 4px 3px #818181; }

.listado1 {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  padding: 15px 10px;
  background-color: #5e4825; }

@media (min-width: 1400px) {
  .container, .container-lg, .container-md, .container-sm, .container-xl, .container-xxl {
    max-width: 1920px; } }

.contacto {
  width: 100%;
  padding: 25px 0;
  overflow: hidden;
  background-color: #ff9400; }

.contenedor_contacto {
  width: 70%;
  max-width: 600px;
  margin: auto; }

.tituloContacto {
  font-family: 'Alumni Sans Inline One', cursive;
  color: #000000;
  margin: 0.67em 0; }

.labels {
  font-family: 'Stardos Stencil', cursive;
  font-size: 140%;
  color: #000000;
  text-shadow: 0px 0px 10px #ffffff; }

.inputs {
  width: 100%;
  outline: none;
  padding: 7px 0 7px;
  font-family: 'Stardos Stencil', cursive;
  font-size: 120%;
  background: none;
  background-color: #b56900b8;
  border: none;
  box-sizing: border-box;
  resize: none;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  border-bottom: 5px solid #603b00; }

::placeholder {
  color: #0000007f;
  font-size: 1rem;
  text-align: center; }

.ol, ul {
  padding-left: 0rem;
  list-style: none; }

.listado-formulario {
  margin: 0 0 25px; }

.btn_enviar {
  margin-top: 20px;
  padding: 10px 30px 15px;
  font-family: 'Jockey One', sans-serif;
  font-size: 120%;
  background: #137c00;
  border: none;
  box-shadow: 0 8px 0 -5px #fff;
  transition: 400ms;
  float: right;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 50px; }

h6 {
  margin-bottom: 0px;
  font-size: 3.4rem;
  color: #ffffff;
  text-shadow: 0px 0px 10px #0e0900; }

.top-0 {
  top: 50px !important; }

.alert {
  z-index: 100; }

.text-center {
  background-color: #000000; }

.fondo-amarillo {
  background-color: #361a00c7; }

.mb-1 {
  margin-top: 0.4rem !important;
  margin-bottom: 0.40rem !important; }

.color-boton {
  background-color: #913900;
  --bs-btn-border-color: none;
  --bs-btn-hover-bg: #ff6500; }

.card-img, .card-img-top {
  border-top-left-radius: 0;
  border-top-right-radius: 0; }

.text-primary {
  color: #ffffff !important;
  margin-bottom: 0px;
  font-family: "Jockey One", sans-serif; }

.description {
  font-family: "Jockey One", sans-serif;
  height: 25px;
  overflow: hidden;
  transition: height .2s ease-in .2s; }

.description:hover {
  height: 50px; }

.carrito {
  min-height: 80vh;
  max-width: 1000px;
  margin: 0 auto;
  width: 100%; }

.modal {
  --bs-modal-width: 700px; }

.delete {
  background-color: #911f1f; }

.btn-secondary {
  background-color: #2a3036; }

.btn-success {
  background-color: #113625; }

.modal-header {
  padding: 0;
  border-bottom: 0; }

.modal-body {
  position: relative;
  flex: 1 1 auto;
  padding: 0; }

.table > :not(caption) > * > * {
  padding: 0.2rem 0.1rem; }

.table__productos {
  display: flex; }

.table__productos img {
  width: 9rem;
  object-fit: contain;
  border-radius: 6px;
  margin-right: 20px; }

.table__cantidad input {
  width: 40px;
  border: none;
  outline: 0;
  font-size: 16px;
  font-weight: 700;
  margin-right: 30px;
  margin-bottom: 20px; }

.hide, .remove {
  display: none; }

.title {
  font-size: 1rem; }

.row > * {
  padding-right: 0;
  padding-left: 0; }

.row {
  --bs-gutter-x: 0; }

.card-body {
  padding: 0; }

.mb-4 {
  margin-bottom: 0 !important; }

.color-carrito {
  background-color: #0000009c; }

.title-compra {
  background: linear-gradient(90deg, #ff4100 0%, #ffac15 50%, #ff4100 100%); }

.fondo-hamburguesas {
  background-color: #0000009c; }

.conteudo-geral {
  position: relative;
  overflow: hidden;
  height: 100vh;
  padding: 10px; }

.componente-interno-geral {
  position: relative;
  height: 100%; }

.componente-interno-geral:hover .componente-fundo-imagem:after {
  opacity: 1; }

.componente {
  position: absolute;
  left: 0;
  top: 0;
  width: 19.2%;
  height: 100%;
  background: #252525;
  transition: transform 0.6s 0.7s, width 0.7s, opacity 0.6s 0.7s, z-index 0s 1.3s;
  will-change: transform, width, opacity; }

.componente:not(.caixa-conteudo-ativo) {
  cursor: pointer; }

.componente-sem-rolagem {
  overflow: hidden;
  position: relative;
  height: 100%; }

.componente-interno {
  overflow: hidden;
  position: relative;
  height: 100%;
  transition: transform 1s; }

.conteudo-geral.js-conteudo-geral .componente-interno {
  transform: translate3d(0, 100%, 0); }

.componente-fundo-imagem {
  position: relative;
  height: 100%;
  transition: transform 0.6s 0.7s;
  will-change: transform; }

.componente-fundo-imagem:before {
  content: "";
  position: absolute;
  left: 0;
  top: -5%;
  width: 100%;
  height: 110%;
  background-size: cover;
  background-position: center center;
  transition: transform 1s;
  transform: translate3d(0, 0, 0) scale(1); }

.conteudo-geral.js-conteudo-geral .componente-fundo-imagem:before {
  transform: translate3d(0, -100%, 0) scale(1.2); }

.componente.caixa-conteudo-ativo .componente-fundo-imagem:before {
  transition: transform 0.8s; }

.componente-fundo-imagem:after {
  content: "";
  z-index: 1;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.7);
  opacity: 0;
  transition: opacity 0.5s; }

.conteudo-geral.caixa--componente-ativo .componente-fundo-imagem:after {
  transition: opacity 0.5s 1.4s;
  opacity: 1 !important; }

.componente-visual-inicial {
  z-index: 2;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  padding-bottom: 2rem;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  transition: all 0.3s 1.2s; }

.conteudo-geral.js-conteudo-geral .componente-visual-inicial {
  opacity: 0;
  transform: translateY(10px); }

.conteudo-geral.caixa--componente-ativo .componente-visual-inicial {
  opacity: 0;
  transform: translateY(30px);
  transition: all 0.5s; }

.componente-titulo {
  color: #fff;
  text-shadow: 0px 0px 10px #000000;
  text-transform: uppercase;
  font-size: 2rem;
  font-family: 'Jockey One', sans-serif; }

.componente-content {
  z-index: -1;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  padding: 30px;
  opacity: 0;
  pointer-events: none;
  transition: all 0.1s; }

.componente.caixa-conteudo-ativo .componente-content {
  z-index: 2;
  opacity: 1;
  pointer-events: auto;
  transition: all 0.5s 1.4s; }

.componente-text {
  text-transform: uppercase;
  font-size: 40px;
  color: #fff;
  font-family: 'Jockey One', sans-serif; }

.componente-botao-fechar {
  z-index: -1;
  position: absolute;
  right: 10px;
  top: 10px;
  width: 60px;
  height: 60px;
  opacity: 0;
  pointer-events: none;
  transition: all 0s 0.45s;
  cursor: pointer; }

.componente.caixa-conteudo-ativo .componente-botao-fechar {
  z-index: 5;
  opacity: 1;
  pointer-events: auto;
  transition: all 0s 1.4s; }

.componente-botao-fechar:before,
.componente-botao-fechar:after {
  content: "";
  position: absolute;
  left: 0;
  top: 50%;
  width: 100%;
  height: 8px;
  margin-top: -4px;
  background: #fff;
  opacity: 0;
  transition: opacity 0s; }

.componente.caixa-conteudo-ativo .componente-botao-fechar:before,
.componente.caixa-conteudo-ativo .componente-botao-fechar:after {
  opacity: 1; }

.componente-botao-fechar:before {
  transform: rotate(45deg) translateX(100%); }

.componente.caixa-conteudo-ativo .componente-botao-fechar:before {
  transition: all 0.3s 1.4s cubic-bezier(0.72, 0.09, 0.32, 1.57);
  transform: rotate(45deg) translateX(0); }

.componente-botao-fechar:after {
  transform: rotate(-45deg) translateX(100%); }

.componente.caixa-conteudo-ativo .componente-botao-fechar:after {
  transition: all 0.3s 1.55s cubic-bezier(0.72, 0.09, 0.32, 1.57);
  transform: rotate(-45deg) translateX(0); }

.componente:nth-child(1) {
  transform: translate3d(0%, 0, 0);
  transform-origin: 50% 50%; }

.conteudo-geral.caixa--componente-ativo
.componente:nth-child(1):not(.caixa-conteudo-ativo) {
  transform: scale(0.5) translate3d(0%, 0, 0);
  opacity: 0;
  transition: transform 0.95s, opacity 0.95s; }

.componente:nth-child(1) .componente-interno {
  transition-delay: 0s; }

.componente:nth-child(1) .componente-fundo-imagem {
  transform: translate3d(0%, 0, 0); }

.componente:nth-child(1) .componente-fundo-imagem:before {
  transition-delay: 0s;
  background-image: url("../imagenes/fondohamburguersa1.jpg"); }

.componente:nth-child(2) {
  transform: translate3d(105.20833%, 0, 0);
  transform-origin: 155.2083333333% 50%; }

.conteudo-geral.caixa--componente-ativo
.componente:nth-child(2):not(.caixa-conteudo-ativo) {
  transform: scale(0.5) translate3d(105.20833%, 0, 0);
  opacity: 0;
  transition: transform 0.95s, opacity 0.95s; }

.componente:nth-child(2) .componente-interno {
  transition-delay: 0.1s; }

.componente:nth-child(2) .componente-fundo-imagem:before {
  transition-delay: 0.1s;
  background-image: url("../imagenes/fondohamburguersa2.jpg"); }

.componente:nth-child(3) {
  transform: translate3d(210.41667%, 0, 0);
  transform-origin: 260.4166666667% 50%; }

.conteudo-geral.caixa--componente-ativo
.componente:nth-child(3):not(.caixa-conteudo-ativo) {
  transform: scale(0.5) translate3d(210.41667%, 0, 0);
  opacity: 0;
  transition: transform 0.95s, opacity 0.95s; }

.componente:nth-child(3) .componente-interno {
  transition-delay: 0.2s; }

.componente:nth-child(3) .componente-fundo-imagem:before {
  transition-delay: 0.2s;
  background-image: url("../imagenes/fondohamburguersa3.jpg"); }

.componente:nth-child(4) {
  transform: translate3d(315.625%, 0, 0);
  transform-origin: 365.625% 50%; }

.conteudo-geral.caixa--componente-ativo
.componente:nth-child(4):not(.caixa-conteudo-ativo) {
  transform: scale(0.5) translate3d(315.625%, 0, 0);
  opacity: 0;
  transition: transform 0.95s, opacity 0.95s; }

.componente:nth-child(4) .componente-interno {
  transition-delay: 0.3s; }

.componente:nth-child(4) .componente-fundo-imagem:before {
  transition-delay: 0.3s;
  background-image: url("../imagenes/fondohamburguersa4.jpg"); }

.componente:nth-child(5) {
  transform: translate3d(420.83333%, 0, 0);
  transform-origin: 470.8333333333% 50%; }

.conteudo-geral.caixa--componente-ativo
.componente:nth-child(5):not(.caixa-conteudo-ativo) {
  transform: scale(0.5) translate3d(420.83333%, 0, 0);
  opacity: 0;
  transition: transform 0.95s, opacity 0.95s; }

.componente:nth-child(5) .componente-interno {
  transition-delay: 0.4s; }

.componente:nth-child(5) .componente-fundo-imagem:before {
  transition-delay: 0.4s;
  background-image: url("../imagenes/fondohamburguersa5.jpg"); }

.componente:hover .componente-fundo-imagem:after {
  opacity: 0; }

.componente.caixa-conteudo-ativo {
  z-index: 1;
  width: 100%;
  transform: translate3d(0, 0, 0);
  transition: transform 0.6s, width 0.7s 0.7s, z-index 0s; }

.componente.caixa-conteudo-ativo .componente-fundo-imagem {
  transform: translate3d(0, 0, 0);
  transition: transform 0.6s; }

.componente.caixa-conteudo-ativo .componente-fundo-imagem:before {
  transition-delay: 0.6s;
  transform: scale(1.1); }

@media screen and (max-width: 1120px) {
  .componente-titulo {
    font-size: 1rem; } }

.bg-dark {
  background-color: #000000a8 !important; }

.text-center {
  background-color: #000000a6; }

.btn-outline-light {
  --bs-btn-border-color: none
; }

.pb-0 {
  padding-bottom: 1.5rem !important; }

@media screen and (max-width: 767px) {
  .grid-index {
    display: grid;
    grid-template: "header" "nav" "main" "footer" / auto; }
  .fondo_texto {
    padding-bottom: 0px; }
    .fondo_texto h1 {
      font-size: 6rem; }
    .fondo_texto p {
      font-size: 1.30rem !important; }
  .container-fluid {
    padding-top: calc(var(--bs-gutter-x) * .3);
    padding-bottom: calc(var(--bs-gutter-x) * .3); }
  .row {
    flex-direction: column; }
  .lados {
    padding-top: 0px;
    padding-bottom: 0px; }
  .table__productos {
    display: flex;
    flex-wrap: wrap; } }
