.bg-dark {
    background-color: #000000a8 !important;
}

.text-center {
    background-color: #000000a6;
}

.btn-outline-light {
    --bs-btn-border-color: none
}

.pb-0 {
    padding-bottom: 1.5rem!important;
}