.navegador {
    width: -webkit-fill-available;
    top: 0;
    z-index: 9999;
    position: fixed;
    background-color: #d5a400 !important;
    border-bottom: 5px solid #bf7400;
}

.navbar {
    --bs-navbar-padding-y: 0 !important;
    --bs-navbar-brand-font-size: 1.80rem;
}

.dropdown-menu-dark {
    font-family: 'Jockey One', sans-serif;
    --bs-dropdown-bg: #bf7400;
}

.navbar-brand {
    padding-top: 0px;
    padding-bottom: 0px;
    font-family: 'Alumni Sans Inline One', cursive;
}

.navbar-expand-lg .navbar-nav .nav-link {
    font-family: 'Jockey One', sans-serif;
    color: #ffffff;
    text-shadow: 0px 3px 5px #7c1d00;
    background-image: linear-gradient(transparent 0%, transparent 90%, #ffd400 90%, #ffb161 100%);
    background-repeat: no-repeat;
    background-size: 0% 100%;
    background-position-x: right;
    transition: background-size 300ms;
}

.navbar-expand-lg .navbar-nav .nav-link:hover {
    background-size: 100% 100%;
    background-position-x: left;
    color: #000000a4;
}

.form-control {
    padding: 0.375rem 5.75rem !important;
}

.btn-outline-success {
    --bs-btn-color: #000000;
    text-shadow: 0px 0px 5px #ffffff;
    --bs-btn-border-color: #00000042;
    --bs-btn-hover-bg: #113a00;
}

.btn {
    background-color: #ff6500;
}

.navbar-toggler {
    padding: 0px;
    color: #ab8300;
    border: solid 0px;
}

.navbar-toggler-icon {
    background-image: url(../Iconos/menu.png);
    width: 2.5em;
    height: 2.5em;
}

.navbar-light .navbar-toggler {
    background: linear-gradient(90deg, #5c5c5c 0%, #cdcdcd 50%, #535353 100%);
    border-radius: 0px;
    padding: 0px 13px;
}

.boton {
    background-color: #ff4100;
    margin:  5px 15px 5px 0;
    padding-bottom: 3px;
    padding-top: 3px;
    --bs-btn-border-color: none;
    --bs-btn-border-radius: 3rem;
    text-shadow: 0px 0px 5px #ffffff;
}

.compra {
    width: 25px;
    height: 25px;
}

[type=button]:not(:disabled), [type=reset]:not(:disabled), [type=submit]:not(:disabled), button:not(:disabled) {
    cursor: pointer;
    font-family: 'Jockey One', sans-serif;
}