//==========================pagina==========================
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0; }

.grid-index {
    display: grid;
    grid-template: 
        "header"
        "nav"
        "main"
        "footer" /
        auto;
    }

//====================================================

h1 {
    margin-bottom: 0px !important;
}

a {
    text-decoration: none;
}

//==========================Import==========================

@import "headernav";
@import "mainbody";
@import "footer";

//==========================media==========================

@media screen and (max-width: 767px) {
    .grid-index {
        display: grid;
        grid-template: 
            "header"
            "nav"
            "main"
            "footer" /
            auto;
        }
    .fondo_texto {
        padding-bottom: 0px;
        h1 {
            font-size: 6rem;
        }
        p {
            font-size: 1.30rem !important;
        }
    }
    .container-fluid {
        padding-top: calc(var(--bs-gutter-x) * .3);
        padding-bottom: calc(var(--bs-gutter-x) * .3);
    }
    .row {
        flex-direction: column
    }
    .lados {
        padding-top: 0px;
        padding-bottom: 0px;
    }
    .table__productos{
        display: flex;
        flex-wrap: wrap;
    }

    .compra-carrito-none {
        display: flex;
    }

    .compra-carrito-si {
        display: none;
    }

    .top-0 {
        top: 70px !important;
    }
}